language: node_js
node_js:
  - 15

script:
  - npm run lint
  - npm test
  - npm run build

after_success: bash <(curl -s https://codecov.io/bash)

deploy:
  skip_cleanup: true
  on:
    branch: master
    tags: true
  provider: npm
  email: robin@anigenero.com
  api_key:
    secure: IcRyjhDce86m38yAnoYjX8bo8j4IEpBp0WPnV9dhM2hpJ73OEF3tiXxuj0+55RohnUMbGMG8Yf97Epvfxr1xGvi24XyZQy1T7PRl/c6H0DJWZdbrDaRqG5yif3MtoHiFQKVWRXyVcGLQ1XRZ5S1b4exarCG1SmTEnHHvk4FUG1NRWjz81mYrqcx6A3f51Y3zxTIunzMv02PsvBq8qWvkDWF+/9OciQAkohA4AV3ucKc+SoB59cyXDZTNxN6Yx/90rAAcDYahx7stkV08c+M/4X33uewQBElcn7WN3Vatl0juljX2rO85vBl7cH0pzAD5juii3n7Fr13sxJ0bwxu57JpuBM8nQYvLtzw/yfGwoztUugyAfm5IrZLJ9LLN9uqT2OrCYhmkqzOheg56IsDpPXzfnqUHPU21IlOC/R1Wa2PaoCyMWwgKZ15aj9daLc+PRFJqvqwB8N+LiqrH09cT3h+Ge1AVKrQngwh4VU0CZIdmD65lO4fpQeCfqmPPl2eB7clUNoZ7l58ZiWFgUzM5aiAqYFqIWNo9KxGq7NxAz1BYnEr7niUqBPjkAl6ZsH5ILQ9/VguskOlEkgwV+jmP4n5vQoBXwWtzUeBDaduBfX982BolKSnx5tdgxSjQht3GoYVPbtXlLeJ2cCpPTyv3DENKIz0Zr4WPkzfK9pIr+sM=
